
#video1 {
    display: none;
}

div#title {
	background-color: #64c8ff;
}

h1 {
	color: white;
	text-align: center;
}

.center {
    margin: auto;
    width: 90%;
}

.center_element {
    margin: auto;
    width: 100%;
	border-left: 2px solid #64c8ff;
	border-top: 2px solid #64c8ff;
	border-right: 2px solid #64c8ff;
}

.center_controls {
    margin: auto;
    width: 100%;
	border: 2px solid #64c8ff;
}

.nav_button {
	width=5%;
	margin-bottom: 5px;
}

canvas#canvas {
	margin: auto;
	width: 100%;
	height: 100%;
}

canvas {
	margin: auto;
    width: 100%;
}

div.element {
	margin: auto;
    width: 100%;
	border-bottom: 2px solid #64c8ff;
}

input.description {
	margin: 10px;
}